:root {
  /* Couleur du theme */
  --theme: transparent;

  /* Couleur de fond */
  --dark: #212121;
  --dark-1: #2f2f2f;
  --dark-2: #313131;
  --dark-3: #424242;

  /* Couleur de texte */
  --white: #ffffff;
  --white-1: #ececec;
  --white-2: #9e9e9e;

  /* Couleur de bouton */
  --red: #f44336;
  --green: #4caf50;
  --orange: #ff9800;

  /* Couleur de résultat */
  --gold: #e6ab1f;
  --silver: #c7cacf;
  --bronze: #ae8875;

  /* couleur avec alpha */
  --black-66: #00000066;
  --dark-cc: #212121cc;
  --transparent: transparent;
}



*:active,
*:focus {
  outline-style: none;
}

/* label focus color */
.input-field input[type=text]:not(.browser-default):focus + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color:var(--white-2);
}

/* label underline focus color */
.input-field input[type=text]:not(.browser-default):focus,
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--theme);
  box-shadow: 0 1px 0 0 var(--theme);
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: var(--theme);
}

[type="checkbox"].filled-in:checked + span:not(.lever)::after {
  border: 2px solid var(--theme);
  background-color: var(--theme);
}


.sidenav-trigger,
.sidenav-trigger:hover {
  background-color: var(--transparent);
  display: inline-block;
}

.btn,
.btn:hover,
.btn:focus,
a.btn-theme,
a.btn-theme:hover,
a.btn-theme:focus {
  background-color: var(--theme);
}

.sidenav{
  background-color: var(--dark);
  color : var(--white);
}

.sidenav .nav-title {
  padding-left: 1em;
}

.sidenav .liste-concoursActuel {
  max-height: 50vh;
  overflow: auto;
}

.sidenav .concours-link {
  color: var(--white-1);
}

body > header.row{
  background-color: var(--theme);
  margin: 0;
}

body > header > h5{
  color : var(--white);
}

body{
  background-color: var(--dark);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#nom_application{
  display : inline-block;
}

#nom_application a.sidenav-trigger {
  padding: 0 1em;
}

#nom_application a.sidenav-trigger i {
  margin: 0;
  color: var(--white);
}

li.menu-item {
  color: var(--white);
}

li.menu-item.active {
  color: var(--theme);
}

li.menu-item a,
li.menu-item a > i.material-icons {
  color: inherit;
}

#slide-out div.user-view {
  height: 12em;
  padding: 0;
}

#slide-out div.user-view > svg {
  width: 100%;
  height: 140%;
  position: relative;
  top: -8em;
}

#slide-out div.user-view > svg > g {
  color: var(--theme);
}

.fond-organisateur {
  height: 100%;
  width: 100%;
}

#slide-out .nom-organisateur {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-weight: 600;
}

body {
  background-color: var(--dark);
}

main {
  color: var(--white);
  flex: 1 0 auto;
}

nav {
  height: unset;
  line-height: unset;
  padding: 0.3em 1em;
  box-shadow: none;
  background-color: var(--dark-1);
}

.breadcrumb {
  font-size: unset;
}

.breadcrumb::before {
  vertical-align: middle;
  font-size: unset;
  margin: 0 0.5em;
}

footer{
    background-color: var(--black-66);
    color: var(--white);

    min-height: 5em;

    display: flex;
    align-items: center;

    padding-left: 5em;
    margin-top: 2em;
}

footer img{
    max-height: 3em;
}

footer div{
    padding-left: 2em;
}

/* Message de confirmation */
.toast > i.material-icons {
  padding-right: 0.5em;
}

.toast.message-success {
  background-color: var(--green);
}

.toast.message-error {
  background-color: var(--red);
}

.toast.message-warning {
  background-color: var(--orange);
}
