article {
    padding: 0em 2em;
}

.section > * {
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
}

.input-avatar-container {
    text-align: center;
}

.input-avatar {
    padding: 3em;
    border-radius: 3em;
    box-sizing: border-box;
    background-color: var(--dark);
    background-image: url("../img/logos_utiles/photo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.input-avatar:hover {
    background-color: var(--dark);
}

.m2010 {
    margin: 2em 0 1em 0;
}

.label-required {
    color: var(--red);
}

.select-wrapper .select-dropdown {
    color: var(--white-1);
    background-color: var(--dark);
}

.select-wrapper .dropdown-content > li > span {
    color: var(--white-1);
}

.select-wrapper .caret > path:first-child{
    fill: var(--white-1);
}

.divider {
        background-color: var(--dark);
}

.affichage-equipe,
.affichage-joueur {
    padding: 2%;
    background-color: var(--dark-1);
}

.team {
    background-color: var(--transparent);
    box-sizing: border-box;
    border: none;
    margin: 1em auto;
    padding: 0!important;
    text-align: left;
    border-radius: 1.7em 2em 2em 1.7em;
    overflow-wrap: break-word;
}

.team > div {
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--dark-cc);
    font-weight: bold;
    color: var(--black-66);
}

.team > p {
    display: inline-block;
    margin: 0;
    padding-left: 0.5em;
    color: var(--white-1);
    max-width: 60%;
    vertical-align: middle;
}

.team:focus {
    background-color: var(--transparent);
}

.team-avatar-no-image {
    text-align: center;
    position: relative;
}

.team-avatar-no-image > span {
    font-size: 3em;
    position: absolute;
    text-transform: uppercase;
}


.joueur {
    margin: 0.5em !important;
    text-transform: capitalize;
}


.contexte-menu {
    width: 15em;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    background-color: var(--white);
}

.contexte-menu .collapsible-body {
    padding: 0;
    max-height: 18rem;
    overflow-y: auto;
    background-color: var(--white-1);
}

.contexte-menu .collection .collection-item {
    color: var(--dark);
    background-color: var(--transparent);
}

.contexte-menu .collection a.collection-item:not(.active):hover {
    background-color: var(--theme);
    color: var(--white);
    cursor: pointer;
}

.contexte-menu .collapsible-header:hover,
.contexte-menu li.active .collapsible-header {
    color: var(--theme);
}




.modal {
    background-color: var(--dark);
    width: 35vw;
    padding: 4em 3em;
    max-height: 100%;
}

.modal .modal-content {
    padding: 0;
}

.modal .input-avatar {
    background-size: cover;
}

.modal .input-field {
    margin: 0.5em 0;
}

.modal .collection {
    border: none;
    background-color: var(--dark);
    max-height: 10em;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal .collection .collection-item {
    background-color: var(--transparent);
    border-color: var(--dark-3);
}

.modal .collection .collection-item form.secondary-content {
    background-color: var(--transparent);
    padding: 0;
    border: none;
    cursor: pointer;
}

.modal .collection .material-icons {
    color: var(--red);
}

.ligneBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 0;
}
/*
.modal .modal-content .footer {
    margin-top: 2em;
    margin-bottom: 0;
}

.modal .modal-content .footer .btn {
    margin: 0.3em 0;
}*/
