main {
  padding: 0 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/**** Application ****/
#newApp, #newApp:focus{
    background-color: var(--dark-3);
    cursor: pointer;
}

#newApp>i{
    display: inline;
    color: var(--dark) !important;
}

.input-avatar-container {
  text-align: center;
}

.input-avatar {
  padding: 3em;
  border-radius: 3em;
  box-sizing: border-box;
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme-app, .theme-app:focus {
    background-image: url("/static/img/logos_utiles/photo.svg");
    background-color: var(--black-66);
    background-position: center;
    background-size: 4em;
    border: 2px solid var(--transparent);
}

.theme-app.active {
    border: 2px solid var(--theme)
}

.input-avatar:hover {
  background-color: var(--dark);
}

.input-fond {
  border-radius: 0.5em;
  width: 100%;
}

.modal h5{
    color: var(--theme);
    text-align: center;
}

/**** modals ****/
.modal{
    background-color: var(--dark);
    width: 30vw;
    padding: 2em 0;
}

.modal .input-field{
    margin-top: 2em;
}

.input-avatar-container{
    margin-bottom: 1em;
}

.input-field{
    width: 15em;
}

.ligneBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}


.input-avatar,
.input-avatar:hover {
    padding: 3em;
    border-radius: 3em;
    box-sizing: border-box;
    background-color: var(--dark-1);
    background-image: url("../img/logos_utiles/photo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.fond,
.fond:hover {
    width: 15em;
    border-radius: 1em;
    background-image: url("../img/logos_utiles/panorama.svg");
    background-size: 4em;
}

/**** contextmenu ****/
.contener-application {
    position: relative;
}

.context-menu{
    display: none;
    position: absolute;
    border: solid var(--theme) 2px;
    background-color: var(--theme);
    border-radius: 5px;
    top: -123px;
    left: -20px;
}

.context-menu .btn-ctxmenu {
    width: 100%;
    background-color: var(--dark-1);
    border-radius: 0;
    box-shadow: none;
}

.context-menu li:first-child .btn-ctxmenu {
    border-radius: 5px 5px 0 0;
}

.context-menu li:nth-child(3) .btn-ctxmenu {
    border-radius: 0 0 5px 5px;
}

.context-menu .btn[disabled] {
    background-color: var(--dark-3) !important;
}

.context-menu .btn-ctxmenu:hover {
    background-color: var(--theme);
}

.context-menu .ctxmenu-arrow {
    position: absolute;
    left: 46px;
    border-top: 8px solid var(--theme);
    border-bottom: 8px solid var(--transparent);
    border-left: 8px solid var(--transparent);
    border-right: 8px solid var(--transparent);
}

/**** Theme ****/
ul.theme-liste {
  display: flex;
  flex-wrap: wrap;
}

ul.theme-liste > li {
  margin: 0.5em;
}

button.theme {
  width: 5em;
  height: 5em;
  border-radius: 5em;
  text-align: center;
  cursor: pointer;
  border: none;
}

button.theme > i {
  font-size: 3em;
  margin: 0.35em 0;
  color: var(--black-66) !important;
  display: none;
}

button.theme.active > i {
  display: inline-block;
}
