main {
  padding: 0 2em;
}

.logo{
  height: 4em;
  width: 4em;
  border-radius: 4em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em;
}
.top1{
  background-color: var(--gold);
  text-align: center;
}
.top2{
  background-color: var(--silver);
  text-align: center;
}
.top3{
  background-color: var(--bronze);
  text-align: center;
}
.horspod{
  background-color: var(--theme);
  text-align: center;
}


.nomequipe{
  font-size: 22px;
  font-weight: bold;
  margin: 1.2em 0;
  flex-grow: 1;
}

.equipe{
  flex: 1 1 45%;
  max-width: calc(100% / 2 - 2 * 0.5em);
  background-color: var(--dark-2);
  margin: 0.5em;
  padding:0;
  display: flex;
}

.resultat{
  background-color: var(--dark);
  padding-top: 3em!important;
  display: flex;
  flex-wrap: wrap;
}

.podium{
  width: 10%!important;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0px;
  padding: 0.5em 0 !important;
  height: 100%;
}

.score {
  font-size: 1.5em;
  margin: auto 1em;
  color: var(--white-2);
}

main .footer{
  position: sticky;
  bottom: 1em;
  padding: 0.5em;
}

main .footer .btn {
  margin: 0 0 0 1em;
}