body {
    padding: 1rem 4rem;
}

table td {
    padding: 1rem;
}

div.concours-image {
    width: 8rem;
    height: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f5f5;
    border-radius: 1rem;
    display: inline-block;
}

div.avatar {
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f5f5;
    border-radius: 3rem;
}