<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Bilan</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/materialize/css/materialize.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultat/resultatConcours.css') }}">
</head>
<body>
    {% block body %}

    <h2>
        <div class="concours-image" style="background-image:url({{ url_for('static', filename=dirImgConcours ~ concours.image) }})"></div>
        {{ concours.nomC }}
    </h2>
    <p class="grey-text"><i>{{ date }}</i></p>
    <br>
    <p>
        Nombre d'équipe : {{ nombreEquipe }}<br/>
        Nombre de joueurs : {{ nombreJoueur }}
    </p>
    <br>
    <br>
    <br>
    <h4>Résultats</h4>
    <table width="100%" cellpadding="4" cellspacing="0">
        <thead>
            <tr>
                <th>Place</th>
                <th>Score</th>
                <th>Avatar</th>
                <th>Equipe</th>
                <th>Joueurs</th>
            </tr>
        </thead>
        <tbody>
            {% for resultat in listeResultat %}
            <tr>
                <td>{{ resultat.place }}</td>
                <td>{{ resultat.score }}</td>
                <td><div class="avatar" style="background-image:url({{ url_for('static', filename=dirImgEquipe ~ resultat.avatar) }})"></div></td>
                <td>{{ resultat.equipe }}</td>
                <td>
                    {% for joueur in resultat.listeJoueur %}
                    <div>{{ joueur.nomJ }} {{ joueur.prenomJ }}</div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>