{% extends "base.html" %}

{% block main %}
<header class="entete row">
    <!-- Informations sur le concours -->
    <section class="concours col m8">
        <div style="background-image:url({{ url_for('static', filename=dirImgConcours ~ concours.image) }});" class="concours-image"></div>
        <section class="concours-infos">
            <h2 class="concours-titre">{{ concours.nomC }}</h2>
            <h5 class="concours-date">{{ concours.getDateStr() }}</h5>
            <p class="concours-nombre-equipe">{{ concours.equipes|length }} équipe{{ "s" if concours.equipes|length >= 2 }}</p>
        </section>
    </section>

    <!-- Les fichiers sujet et résultat -->
    <section class="fichier col m2">
        <a href="{{ url_for('exporterResultat', idConcours=concours.idC) }}" target="_blank" class="waves-effect waves-darken btn-large grey darken-4 btn-flat white-text">
            <p><img src="{{ url_for('static', filename=dirImgLogo + 'html.png') }}" alt="">Résultat</p>
        </a>
        {% if concours.sujetC is none %}
        <a class="waves-effect waves-darken btn-large grey darken-4 btn-flat white-text disabled">
            <p><img src="{{ url_for('static', filename=dirImgLogo + 'pdf.png') }}" alt="">Sujet</p>
        </a>
        {% else %}
        <a href="{{ url_for('static', filename=concours.sujetC) }}" target="_blank" class="waves-effect waves-darken btn-large grey darken-4 btn-flat white-text">
            <p><img src="{{ url_for('static', filename=dirImgLogo + 'pdf.png') }}" alt="">Sujet</p>
        </a>
        {% endif %}
    </section>

    <!-- Les boutons d'action -->
    <section class="action col m2">
      {% if concours.equipes|length < 1 or concours.dateFin < dateJour %}
        <a class="btn-floating btn-large waves-effect waves-darken col disabled" href="{{url_for('lancerTournoi' ,idConcours=concours.idC, numeroMatch=numeroMatch)}}"><i class="material-icons teal grey">play_arrow</i></a>
      {% else %}
        <a class="btn-floating btn-large waves-effect waves-darken col" href="{{url_for('lancerTournoi' ,idConcours=concours.idC, numeroMatch=numeroMatch)}}"><i class="material-icons teal">play_arrow</i></a>
      {%endif%}
      {% if concours.dateFin < dateJour %}
      <a class="btn-floating btn-large waves-effect waves-darken col disabled" href="{{url_for('gestionTournoi', idConcours=concours.idC)}}"><i class="material-icons grey">edit</i></a>
      {% else %}
      <a class="btn-floating btn-large waves-effect waves-darken col" href="{{url_for('gestionTournoi', idConcours=concours.idC)}}"><i class="material-icons blue">edit</i></a>
      {%endif%}

      {% if concours.dateFin < dateJour %}
      <a class="btn-floating btn-large waves-effect waves-darken col disabled" href="{{url_for('gestionEquipe', idConcours=concours.idC)}}"><i class="material-icons grey">group</i></a>
      {% else %}
      <a class="btn-floating btn-large waves-effect waves-darken col" href="{{url_for('gestionEquipe', idConcours=concours.idC)}}"><i class="material-icons purple">group</i></a>
      {%endif%}
        <a class="btn-floating btn-large waves-effect waves-darken col modal-trigger" href="#modal-supprimer-concours"><i class="material-icons red">delete</i></a>
    </section>
</header>

<br>
<br>

<!-- La liste des équipes appartenant au concours -->
{% if concours.equipes|length != 0 %}
<section>
    <h4 class="center-align text-theme">Les équipes</h4>
    {% for equipe in concours.equipes %}
    {% if (loop.index - 1) % 4 == 0 %}
    <div class="ligne">
    {% endif %}
        <div class="col l2 equipe z-depth-2">
            <div class="equipe-avatar" style="background-image:url({{ url_for('static', filename=dirImgEquipe ~ equipe.avatar) }});"></div>
            <div>
                <h6 class="equipe-titre">{{ equipe.nomE }}</h6>
                {% for joueur in equipe.joueurs %}
                <div>{{ joueur.nomJ }} {{ joueur.prenomJ }}</div>
                {% endfor %}
            </div>
        </div>
    {% if loop.index % 4 == 0 or loop.last %}
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endif %}

<br>
<br>

<!-- La liste des joueur n'appartenant pas une équipe -->
{% if joueursSansEquipe|length != 0 %}
<section>
    <h4 class="center-align text-theme">Joueurs sans équipe</h4>
    <section class="row">
        {% for joueur in joueursSansEquipe %}
        <a href="{{url_for('gestionEquipe',idConcours=concours.idC)}}" class="col l2 joueur">{{ joueur.nomJ }} {{ joueur.prenomJ }}</a>
        {% endfor %}
    </section>
</section>
{% endif %}


<!-- Le modal de confirmation de suppression du concours -->
<div id="modal-supprimer-concours" class="modal grey darken-4">
    <div class="modal-content">
        <h4 class="">Vous êtes sur le point de supprimer ce concours, êtes vous sûr de vouloir continuer ?</h4>
    </div>
    <form action="{{ url_for('suprConcours', idConcours=concours.idC) }}" method="POST" class="modal-footer grey darken-4">
        <button type="reset" class="modal-close waves-effect waves-darken btn-flat red">Annuler</button>
        <button type=submit class="waves-effect waves-darken btn-flat green">Confirmer</button>
    </form>
</div>
{% endblock %}
