{% extends "base.html" %}

{% block main %}
<h4 class="row">{{ pageName }}</h4>

<div class="row">
  <!-- Les équipes qui ne jouent pas -->
  <article class="equipes col s12 m6 l5">
    <h6 class="row center-align text-theme">Les équipes non participantes</h6>
    <ul class="collection" id="neParticipePas">
      {% for equipe in listeEquipes["participe_pas"] %}
      <li class="collection-item avatar">
        <div class="circle" style="background-image: url({{ url_for('static', filename=dirImgEquipe ~ equipe.avatar) }});"></div>
        <span class="title">{{equipe.nomE}}</span>
      </li>
      {% endfor %}
    </ul>
  </article>

  <div class="col l2 center-align compteur">
    <span id="cpt-non-joueur">{{ listeEquipes["participe_pas"]|length }}</span> | <span id="cpt-joueur">{{ listeEquipes["participe"]|length }}</span>
  </div>

  <!-- Les équipes qui jouent -->
  <article class="equipes col s12 m6 l5">
    <h6 class="row center-align text-theme">Les équipes participantes</h6>
    <ul class="collection" id="participe">
        {% for equipe in listeEquipes["participe"] %}
        <li class="collection-item avatar">
          <div class="circle" style="background-image: url({{ url_for('static', filename=dirImgEquipe ~ equipe.avatar) }});"></div>
          <span class="title">{{equipe.nomE}}</span>
        </li>
        {% endfor %}
    </ul>
  </article>
</div>

<div class="row">
  <!-- Sélectionner toutes les équipes -->
  <div class="col s12 m6 l5 center-align">
    <button id="toutSelectionner"class="btn white grey-text text-darken-4">Tout ajouter</button>
  </div>

  <!-- Désélectionner toutes les équipes -->
  <div class="col s12 m6 l5 offset-l2 center-align">
      <button id="toutDeselectionner"class="btn white grey-text text-darken-4">Tout retirer</button>
    </div>
</div>


<form class="row input-field formulaire" action="" method="POST">
  <div class="col s12 m6 l5">
    <!-- Liste d'équipe -->
    <div hidden>
      {{ form.equipe(multiple="true") }}
    </div>

    <!-- La liste de carte -->
    {% if listeCartes is none %}
    <p class="info-carte">Le chemin d’accès aux cartes est introuvable.</p>
    {% else %}
    {% if listeCartes|length == 0 %}
    <p class="info-carte">Pas de carte disponible.</p>
    {% else %}
    {{ form.carte(class="cartes") }}
    {% endif %}
    {% endif %}
  </div>

  <!-- Le bouton de lancement du jeu -->
  <div class="col l2 center-align">
    {%if listeCartes is none or listeEquipes is none%}
    <button class="btn green waves-effect grey-text text-darken-4 waves-darken disabled" type="submit">Lancer</button>
    {%else%}
      {%if listeCartes|length < 1 or concours.port is none or listeEquipes|length < 1%}
      <button class="btn green waves-effect grey-text text-darken-4 waves-darken disabled" type="submit">Lancer</button>
      {%else%}
      <button class="btn green waves-effect grey-text text-darken-4 waves-darken" type="submit">Lancer</button>
      {% endif %}
    {%endif%}
  </div>
</form>


{% endblock %}
