{% extends "base.html" %}

{% block main %}
<h4 id="mainTitle">{{ pageName }}</h4>

<form id="formulaireConcours" class="row" action="" method="POST" enctype="multipart/form-data">

  <!-- Section de gauche -->
  <section class="col s12 m12 l6 section">

    <!-- Ligne n°1 : Choisir une image et un nom de concours -->
    <div class="row">
      <div class="input-avatar-container col s6 m3 l2">
        <label for="new-avatar" class="input-avatar z-depth-2 btn tooltipped" data-position="bottom" data-tooltip="Choisir l'image du tournoi"></label>
        {{ form_nouveau_concours.avatar(id="new-avatar", hidden="true", accept="image/png, image/jpeg") }}
      </div>
      <div class="input-field col s6 m8 l10">
        <label for="tournoiNom">Nom du Concours<span class="label-required"> *</span></label>
        {{ form_nouveau_concours.nom(id="name", class="grey-text text-lighten-5 validate", minlength=3, maxlength=40) }}
      </div>
    </div>

    <!-- Ligne n°2 : Saisir la date et l'heure de début -->
    <div class="row">
      <div class="input-field col s12 m5 l5">
        <i class="material-icons prefix">event</i>
        <label for="dateDebut" class="">Date Début<span class="label-required"> *</span></label>
        {{ form_nouveau_concours.dateDebut(id="dateDebut", class="datepicker") }}
      </div>
      <p class = "col s1 m1 l1 center-align"> à </p>
      <div class="input-field col s12 m5 l6">
        <i class="material-icons prefix">access_time</i>
        <label for="heureDebut" class="">Heure Début<span class="label-required"> *</span></label>
        {{ form_nouveau_concours.heureDebut(id="heureDebut", class="timepicker") }}
      </div>
    </div>

    <!-- Ligne n°3 : Saisir la date et l'heure de fin -->
    <div class="row">
      <div class="input-field col s12 m5 l5">
        <i class="material-icons prefix">event</i>
        <label for="dateFin" class="">Date Fin<span class="label-required"> *</span></label>
        {{ form_nouveau_concours.dateFin(id="dateFin", class="datepicker") }}
      </div>
      <p class = "col s1 m1 l1 center-align"> à </p>
      <div class="input-field col s12 m5 l6">
        <i class="material-icons prefix">access_time</i>
        <label for="heureFin" class="">Heure Fin<span class="label-required"> *</span></label>
        {{ form_nouveau_concours.heureFin(id="heureFin", class="timepicker") }}
      </div>
    </div>

    <!-- Ligne n°4 : Le nombre de tour par match et le nombre de d'équipe participant à un match -->
    <div class="row">
      <div class="input-field col s12 m5 l5">
        <i class="material-icons prefix">timer</i>
        <label for="tempsMatch" class="">Tours par match</label>
        {{ form_nouveau_concours.tempsMatch(id="tournament-matchTime", class="grey-text text-lighten-5 validate", minlength=2, maxlength=3) }}
      </div>
      <div class="input-field col s12 m5 l6 offset-m1 offset-l1">
        <i class="material-icons prefix">group</i>
        <label for="nbrEquipeParMatch" class="">Nombre d'équipe par match</label>
        {{ form_nouveau_concours.nbrEquipeParMatch(id="tournament-nbMatchEquipe", class="grey-text text-lighten-5 validate", minlength=1, maxlength=3) }}
      </div>
    </div>

    <!-- Ligne n°5 : La cotribution pour une équipe et le port de connexion vers les machines distantes -->
    <div class="row">
      <div class="input-field col s12 m5 l5">
        <i class="material-icons prefix">euro_symbol</i>
        <label for="contribuation" class="">Contribution par équipe</label>
        {{ form_nouveau_concours.participation(id="tournament-cout", class="grey-text text-lighten-5 validate", value=0, minlength=1) }}
      </div>
      <div class="input-field col s12 m5 l6 offset-m1 offset-l1">
        <i class="material-icons prefix">settings_input_component</i>
        <label for="port" class="">Port du serveur</label>
        {{ form_nouveau_concours.portServeur(id="tournament-port", class="grey-text text-lighten-5 validate", minlength=1, maxlength=4, pattern="[0-9]{1,4}") }}
      </div>
    </div>

  </section>
  <!-- Fin de la section de gauche -->



  <!-- Section de droite -->
  <section class="col s12 m12 l5 offset-l1 section">

    <div class="row">
      <h6 id="modT">Paramètres de jeu du concours</h6>
    </div>

    <!-- Ligne n°1 : le répertoire de carte -->
    <div class="input-field row">
      <label for="dirCartesJeu">Emplacement des cartes du jeu (chemin du dossier)</label>
      {{ form_nouveau_concours.emplacementCarte(id="tournament-map", class="grey-text text-lighten-5 validate", minlength=1, maxlength=255) }}
    </div>

    <!-- Ligne n°2 : Le serveur de jeu -->
    <br>
    <div class="input-field row">
      <label for="commandStart">Fichier commande de lancement (chemin du fichier)</label>
      {{ form_nouveau_concours.commandeLancement(id="tournament-startCmd", class="grey-text text-lighten-5 validate", minlength=1, maxlength=255) }}
    </div>

    <!-- Ligne n°3 : Le sujet du concours en format PDF -->
    <br>
    <form action="#" >
      <div class="file-field input-field row">
        <div class="btn btn-theme">
          <span>Sujet du jeu</span>
            <input type="file" accept=".pdf">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
            {{ form_nouveau_concours.sujetConcours(id="sujetConcours") }}
        </div>
      </div>
    </form>

    <br><br>
    <div class="row">
      <a href="{{ url_for('accueil') }}" class="btn col s12 m12 l5 grey-text text-darken-4 red waves-effect waves-darken annuler"> Annuler</a>
      <button type="submit" class="btn col s12 m12 l5 green right grey-text text-darken-4 waves-effect waves-darken enregistrer">Enregistrer</button>
    </div>
  </section>
  <!-- Fin de section de droite -->

</form>
{% include 'modalErreurDate.html' %}

{% endblock %}
